@model Traveler.Models.Schedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/ViewPage1.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có chắc chắn muốn xóa lịch trình này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd>
        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleName)
        </dd>

        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDetail)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Url.Action("Edit","ToursManage", new {id = Model.TourID})">Quay lại</a>

        </div>
    }
</div>
