@model Traveler.Models.Schedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/ViewPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
